name: Add new issues to Ignite GH Project

on:
  issues:
    types:
      - opened

permissions:
  contents: read
  issues: write
  repository-projects: write

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1.0.2
        with:
          project-url: ${{ secrets.GH_PROJECT_URL }}
          github-token: ${{ secrets.ADD_TO_PROJECT }}

  label_issues:
    name: Label new issues
    runs-on: ubuntu-latest
    steps:
      - name: Add label to issue
        shell: bash
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: Bearer ${{ secrets.ADD_TO_PROJECT }}" \
            "https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/labels" \
            -d '{"labels":["${{ secrets.ISSUE_LABEL }}"]}'